<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add user</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
<center>
  <h1>Add user</h1> 
 </center>
<form action="add" method="POST">
<div class = "container">
    <div class="form-group">
            <label for="inputFirstlName">FIRST NAME</label>
            <input type="text" class="form-control" id="inputFirstName" name="firstName">
          </div>
          <div class="form-group">
            <label for="inputLastName">LAST NAME</label>
            <input type="text" class="form-control" id="inputLastName" name="lastName">
          </div>
          <div class="form-group">
            <label for="dateOfBirth">DATE OF BIRTH</label>
	    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth">
          </div>
	  <div class="form-group">
            <label for="salary">SALARY</label>
	    <input type="number" min="0" class="form-control" id="salary" name="salary">
          </div>
          <button type="submit" class="btn btn-dark">SAVE</button>
        </form>
      </div>
</div>
</form>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</html>

